<ion-content [fullscreen]="true">
  <body>
  <div id="posicionamento">
    <ion-grid>
      <ion-row>
        <h1>Lista de Compras</h1>
        <ion-col size="9">
          <ion-item>
            <ion-input placeholder="Prod." [(ngModel)]="texto" (keyup.enter)="adiciona()"></ion-input>
            <ion-input placeholder="  R$" [(ngModel)]="preco" (keyup.enter)="adiciona()"></ion-input>
            <ion-input placeholder="Quant." [(ngModel)]="quant" (keyup.enter)="adiciona()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-button color="light" size="small" (click)="adiciona()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
         <ion-col>
          <div class="saida">
           <ion-item *ngFor = "let elemento_da_lista of variavel_lista;">
            <ion-grid>
              <ion-row>
                <ion-col style="color:rgb(132, 132, 132) ;" size="3">
                  {{elemento_da_lista[1][0]}}
                </ion-col>
                <ion-col size="3" style="color:rgb(132, 132, 132) ;">
                  {{elemento_da_lista[1][1]}}
                </ion-col>
                <ion-col size="3" style="color:rgb(132, 132, 132) ;">
                  {{elemento_da_lista[1][2]}}
                </ion-col>
                <ion-col size="3">
                  <div class="botao">
                  <ion-button color="light" size="small" (click)="remove(elemento_da_lista[0][0])"> <!-- envia como parâmetro o indice do elemento da lista-->
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </div>
                </ion-col>
              </ion-row>
            </ion-grid>
           </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</body>
</ion-content>
